$navbar-height: 3.5rem;
$body-overflow-y: auto;
$navbar-item-img-max-height: 2.75rem;
$footer-top-padding: 3rem;
$footer-sides-padding: 1.5rem;
$footer-bottom-padding: 6rem;

// Defined in @import-normalize;
$line-height: 24px;
